.header {
    display: flex;
    flex-direction: row;
    background-color: #004080;
    padding: 20px;
    color: white;
}

h1 {
    margin-right: 0;
    margin-left: auto;
}

h2 {
    color: #004080;
    text-align: center;

    /*padding: 20px;*/
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #003366;
    padding: 20px;
    justify-content: space-evenly;
}

.navbar-item{
    color: white;
    text-decoration: none;

}

.navbar-item:hover{
    text-decoration: underline;
}

.main{
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    /*margin: 20px;*/
}
.footer{
    background-color: #004080;
    padding: 10px;
    color: white;
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    align-items: center;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.input-fields{
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border: darkgrey, 3px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.login-button{
    background-color: #008000;
    color: white;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 3px;
    
}

.login-button:hover{
    background-color: #006600;
}

.forgot-password{
    background-color: transparent; 
    color: #004080;
    text-decoration: none;
    margin-bottom: 20px;
}

.forgot-password:hover{
    text-decoration: underline;
}

.term-selection{
    align-self: center;
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
}



.course-tile{
    background-color: lightblue;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.accept-button{
    background-color: #4Caf50;
    color: white;
}

.accept-button:hover{
    background-color: #265e28;
}

.decline-button{
    background-color: #d32f2f;
    color: white;
}

.decline-button:hover{
    background-color: #821b1b;
}

.profile-picture{
    border: 2px solid black;
    border-radius: 50%;
}


ul {
    list-style: inside;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

ul li {
    list-style-type: "- ";
    margin: 10px;
    align-items: center;
 }

.course_quiz_detail{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;
    text-align: center;
}

.quiz_explaination{
    background-color: lightblue;
    width: 70%;
}


.submit_answer{
    background-color: lightblue;
    color: black;
    padding: 10px;
    border-radius: 3px;
}

.submit_answer:hover{
    background-color: darkblue;
    color: white;
}

.finish_quiz{
    background-color: #D32f2f;
    color: white;
    padding: 10px;
    border-radius: 3px;
}

.finish_quiz:hover{
    background-color: #821b1b;
}

.options{
    background-color: #cacaca;
    padding: 20px;
    text-align: left;
    margin: 10px;
    border-radius: 3px;
    width: 300px;
}







